.product-item button:after{
    content: "ثبت سفارش";
    font-size: inherit;
    font-weight: inherit;
    opacity: 0;
    position: absolute;
    background: #fff;
    width: inherit;
    height: 100%;
    padding: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.product-item button:hover::after{
    opacity: 1;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}