.main-page header {
  background: #e5c3b0 url("/images/bg-texture1.png");
}
.main-page-header .logo{
    animation: rotate-infinite 5s linear infinite ;
    -webkit-animation: rotate-infinite 5s linear infinite ;
    animation-delay: 0;
}
.main-page div.main-page-body {
  background: #131c2f url("/images/bg-texture2.png") fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}
.main-page h1 {
  text-shadow: 0px 1px 4px rgba(33, 39, 57, 0.8);
}
.main-page .experience-bar-div .experience-bar-container div span::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  background: var(--primary-orange);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  animation: width-size  2s  ease-in-out;
  -webkit-animation: width-size  2s  ease-in-out;
}

.main-page
  .experience-bar-div
  .experience-bar-container
  div:nth-child(1)
  span::before {
  width: 75%;
}
.main-page
  .experience-bar-div
  .experience-bar-container
  div:nth-child(2)
  span::before {
  width: 50%;
}
.main-page
  .experience-bar-div
  .experience-bar-container
  div:nth-child(3)
  span::before {
  width: 95%;
}

@keyframes rotate-infinite {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

@keyframes width-size {
    0%{
        width: 0;
    }
    100%{
        width:"";
    }
}