*{
  box-sizing: border-box;
}

body{
  background: #131C2F url('/images/texture.png');
  background-size: auto;
  width: 100%;
  overflow-x: hidden;
}

.flex-vr{
  display: flex;
  align-items: center;
  flex-direction: column;
}